<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/style-dash.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <title>PreencheAqui</title>
</head>

<body class="dash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages">
        <button class="flash-close-btn">×</button>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <main class="dashboard">
        <a href="{{ url_for('routes.index') }}"><button class="logout">Sair</button></a>
        <h2 class="texto">Tabela de Dados</h2>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr id="trPessoa">
                    <td>{{ pessoa.nomeCompleto }}</td>
                    <td>{{ pessoa.cpf }}</td>
                    <td>{{ pessoa.dataNascimento.strftime('%d/%m/%Y') }}</td>
                    <td class="actions">
                        <a href="{{ url_for('routes.editar_pessoa', id=pessoa.id) }}" class="botao">Editar</a>
                        <a href="{{ url_for('routes.excluir_pessoa', id=pessoa.id) }}" class="botao">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="{{ url_for('static', filename='src/js/closeModal.js') }}"></script>
</body>

</html>