* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
  padding-inline: 4em;
}

/* .seta{
  background: url(../assets/img/seta.png);
  background-size: contain;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  outline: none;
} */

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 244, 244);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

form {
  width: 50%;
  height: 100%;
  padding-block: 2em;
  padding-inline: 5em;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#name {
  grid-area: nameInput;
}

#dataNasc {
  grid-area: dateInput;
}

#idade {
  grid-area: idade;
}

#cpf {
  grid-area: cpf;
}

#email {
  grid-area: emailInput;
}

#telefone {
  grid-area: telefoneInput;
}

#estadoCivil {
  grid-area: estadoCivil;
}

#endereco {
  grid-area: enderecoInput;
}

#cep {
  grid-area: cepInput;
}

#password {
  grid-area: passwInput;

}

#passwordConf {
  grid-area: passwordConfInput;
}

.detailsPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  padding-inline: 4px;
}

.detailsPassword input {
  border: none;
  width: 100%;
}

form fieldset {
  border: none;
  display: grid;
  grid-template-areas:
    'nameInput nameInput nameInput'
    'dateInput idade cpf'
    'emailInput emailInput emailInput'
    'telefoneInput estadoCivil estadoCivil'
    'enderecoInput enderecoInput cepInput'
    'passwInput passwInput passwordConfInput';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

form fieldset label {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

.linkToSignUp {
  margin-block: 2em;
}

label input {
  padding: 8px;
  border: 0.5px solid rgb(184, 184, 184);
  border-radius: 8px;
  background: transparent;
  outline: none;
  font-size: 16px;
}

#civilEstado {
  padding: 8px;
  border: 0.5px solid rgb(184, 184, 184);
  border-radius: 8px;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.password-eye-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-image: url("../assets/img/eye.png");
  background-size: contain;
}

.password-eye-icon:hover {
  background-image: url("../assets/img/eye.png");
}


footer {
  display: flex;
  column-gap: 8px;
}

footer button {
  width: 100%;
  padding-block: 1em;
  border-radius: 32px;
  border: none;
  background: rgb(15, 13, 26);
  box-shadow: 0px 0px 10px rgb(77, 76, 83);
  color: #fff;
  padding: 8px;
}

.detailsSection {
  width: 30%;
  height: 100%;
  background: url('../assets/img/splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsSection header,
.detailsSection footer {
  width: 100%;
  display: flex;
  column-gap: 0.5em;
  justify-content: right;
  padding: 1em;
}


/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }

  main {
    height: 90%;
    width: 90%;
    display: flex;
    background: rgb(247, 244, 244);
    border-radius: 16px 16px 16px 16px;
    box-shadow: -3px -3px 100px grey;
    padding: 10px;
  }

  .signinForm {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    width: 50%;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
    align-items: center;
    justify-content: center;
  }
  
  .signinImg {
    width: 50%;
    height: 100%;
    background: url("../assets/img/splash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px 0px 16px 0px;
    box-shadow: -5px 0px 50px grey;
    color: #fff;
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    width: 100%;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
    align-items: center;
    justify-content: center;
  }

  .pessoais, .contato{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    row-gap: 5px;
  }

  .nome, .dataNascimento, .cpf, .email, .telefone, .estadoCivil, .endereco, .cep{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  input[type="idade"] {
    width: 10%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  input[type="cadastroPessoa"] {
    width: 20%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  input[type="date"] {
    width: 45%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  input[type="email"] {
    width: 80%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  input[type="tel"] {
    width: 22%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  #estadoCivil {
    width: 20%;
    padding: 8px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 8px;
    background: transparent;
    outline: none;
  }

  .botao {
    border-radius: 30px;
    padding: 10px;
    background: rgb(15, 13, 26);
    color: #fff;
    box-shadow: 0px 0px 10px rgb(77, 76, 83);
  }

  .group{
    display: flex;
    gap: 10px;
    align-items: center;
  } */